extends layout

block content
    img(src="bilder/front.jpg" class="mr-3 frontBild" alt="...")
    div(class="media-body")

    button(type="button" class="btn btn-primary btn-lg boka") Boka 
    button(type="button" class="btn btn-primary btn-lg pers") Personal