<<<<<<< HEAD
extends layout

block content
    main.container
        div(class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden")
            div(class="my-3 p-3")
                img(src="bilder/bildterapiBild4.jpg" alt="..." class="rounded vBild")
            div(class="bildTextBox")
                    h1(class="bildText") Ett erbjudande om att individuellt eller i grupp öppet prata om riskbruk, missbruk eller beroende. Bildspråket i kombination med samtalet kan vara en ny väg framåt bort från beroendet. 
            div(class="my-3 p-3")
                div(class="vBorder")
=======
extends layout

block content
    main.container
        div(class="bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden")
            div(class="my-3 p-3")
                <img src="bilder/bildterapiBild4.jpg" alt="..." class="rounded vBild">
            div(class="my-3 p-3")
                div(class="vBorder")
>>>>>>> e2e6849c46cb83dbe19442100e331abe3c8ec039
                    h1(class="vText") Välkommen till bildterapihuset